
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent; font-family: arial;
}
body{background-color: #e5e9e9;}
#content{width: 70%; margin: 0 auto;}
    

#header{float: left; width: 100%;background: URL(../i/menuBackground.png) repeat-x; height: 110px;}
    #header #logo{width:169px; height:35px; margin: 0 auto;  margin-top: 12px;}
    #header #menu{margin: 0 auto; height: 44px; width: 400px;}
    #header #menu ul{display: table;table-layout: fixed; width: 100%; background:URL('../i/menu.png') repeat-x; margin-top: 9px;}
        #header #menu ul a{color: white;text-decoration: none;line-height: 44px;float: left;text-align: center;width: 100%; font-weight: bold; font-size: 12px;}
        #header #menu ul li{height: 44px;display: table-cell; vertical-align: middle; text-align: center;border-right: 1px solid black;border-top: 1px solid black;border-bottom: 1px solid black;}
        #header #menu ul li:first-child{border-left: 1px solid black;}
    #header #line{float: left; width: 100%;height: 10px; background-color: #6fa5bd;border-top: 1px solid black;border-bottom: 1px solid black;}

#headline{float: left;font-weight: bold; font-size: 29px;color:#787878; width: 100%;}
#addInShow{float: left;height: 46px;margin-top: 30px;}
    #addInShow #block1{float: left;background: URL(../i/addInShow1.png) no-repeat;width: 14px; height: 100%;}
    #addInShow #block2{float: left;background: URL(../i/addInShow3.png) repeat-x; height: 100%; margin-top: 1px;}
        #addInShow #block2 a{float: left; line-height: 46px;color: #787878; text-decoration: none;}
        #addInShow #block2 span{font-weight: bold; font-size: 20px;padding-right: 10px; float: left;}
    #addInShow #block3{float: left;background: URL(../i/addInShow2.png) no-repeat;width: 14px; height: 100%;}
    
/*Таблица*/
.titleColumn{background: URL(../i/columnheader.png) repeat-x;font-size: 12px; font-weight: bold; color: white;text-align: center;}
.titleColumn.current{width:24px;}
th.editColumn{background: URL(../i/editColumn.png);font-size: 12px; font-weight: bold; color: white;text-align: center;vertical-align: middle;width: 20px;}
th.statusColumn{background: URL(../i/statusColumn.png) ;font-size: 12px; font-weight: bold; color: white;text-align: center;vertical-align: middle; width: 20px;}
th.deleteColumn{background: URL(../i/deleteColumn.png) ;font-size: 12px; font-weight: bold; color: white;text-align: center;vertical-align: middle;width: 20px;}
tbody .odd .editColumn{background-color: #f1c6e3;}
tbody .even .editColumn{background-color: #f6d6eb;}
tbody .odd .statusColumn{background-color: #f1c77f;}
tbody .even .statusColumn{background-color: #f6d69e;}
tbody .odd .deleteColumn{background-color: #cce2a6;}
tbody .even .deleteColumn{background-color: #dff2be;}
tbody .headerColumn a{width: 90%;float: left; line-height: 100%; height: 100%;padding-top: 8px;}
tbody .headerColumn span{width: 90%;float: left;}
tbody tr:hover > .hovered_row span{background-image: url("../i/glyphicons-halflings.png");vertical-align: text-top;width: 14px; height:14px ;display: inline-block;background-repeat: no-repeat;background-position: 14px 14px;background-position:-456px -72px;}
.headerColumn{vertical-align: middle; height: 40px;}
.editButton{width:40px; height: 41px; background: URL(../i/editButton.png) no-repeat; margin: 0 auto;}
.statusButton.on{background:URL(../i/statusButton_on.png) no-repeat;width: 39px; height: 40px;margin: 0 auto; cursor: pointer;}
.statusButton.off{background:URL(../i/statusButton_off.png) no-repeat;width: 39px; height: 40px;margin: 0 auto; cursor: pointer;}
.deleteButton{background:URL(../i/deleteButton.png) no-repeat;width: 40px; height: 40px;margin: 0 auto; cursor: pointer;}
#search{color:#acacac; font-style: italic; padding-left: 10px;background: URL(../i/search.png) no-repeat right; background-color: white;padding-right: 27px; background-position: 97% 4px;}

.ui-state-highlight{height:44px; float: left; width: 100%; border: 1px solid #fcefa1; background: #fbf9ee/*{bgColorHighlight}*/ url(../i/menu/ui-bg_glass_55_fbf9ee_1x400.png)/*{bgImgUrlHighlight}*/ 50%/*{bgHighlightXPos}*/ 50%/*{bgHighlightYPos}*/ repeat-x/*{bgHighlightRepeat}*/; color: #363636/*{fcHighlight}*/; }

#cke_news_redactor{float: right; width: 60%;}
#filelist{float: left;}
#upload_error{display: none;color: red;}
#uploadfiles, #deletfile{display: none;}
#no_img{color: red; display: none;}


.checkbox{margin-bottom:20px;}
        .checkbox .control-label{margin-bottom: 4px;}
        #positions .tab-content label{float: left;width: 100%;margin-bottom: 5px;}    
        #positions .tab-content input{float: left;}
        

/*gallery*/
#fileupload .table-striped tbody tr:nth-child(odd) td{background-color: #EEE;border-top: 1px solid #DDD;border-bottom: 1px solid #DDD;}
#fileupload .table-striped td{padding: 8px;}
#fileupload .progress{margin-top: 10px;}


#lol{color:blue;}